<div class="nav-bar" style="
    padding: 3px 10px;
    background: #f0f0f0;
    color: #0084ff;
    cursor: pointer;" onclick="window.history.go(-1); return false;">
    <div class="btn-back">
        <i class="material-icons" style="vertical-align: middle;font-size: 1.4em;">arrow_back</i>
        <span style="vertical-align: middle;">Quay lại</span>
    </div>
</div>