page-reservation-details {
    .reservation-item-buttons{
        align-content: center;
        text-align: center;
    }
    
    .reservation-details-item-conditions{
        white-space: normal;
        text-align: justify;
    }
}
