.menu-container{
  padding-top: 0px;
}

.menu-item {
  padding: 10px 0;
  border-bottom: 1.3px solid #D8D8D8;
}

.menu-item-name h5{
  font-size: 1.3rem;
  margin: 0px;
}

.menu-item-price{
  color: #ED2839;
}

.menu-item-thumbnail{       
  padding: 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  border-radius: 10px;
}

.menu-item-selection{
  position: relative;
}

/* Menu Details */
.place-background{
  width: 100%;
  height: auto;
}

.splitter{
  border-bottom: 1.3px solid #D8D8D8;
  margin: 10px 0;
}