<link rel="stylesheet" href="/public/css/modal-loading.css">
<script src="/public/js/modal-loading.js"></script>
<div class="loading-modal">
    <div class="preloader-wrapper active">
        <div class="spinner-layer spinner-green-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div>
            <div class="gap-patch">
                <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
                <div class="circle"></div>
            </div>
        </div>
    </div>
</div>