<div class="center-align" style="margin-top: 50px">
    <img class="joy-logo" src="/public/img/icon/joy.png">
    <p class="message">
        Có gì đó không ổn rồi bạn!<br />
        Vui lòng đóng trang này và thử lại
    </p>
</div>